body {
    background: #f4f4f4;
}

h1, h5 {
    color: #fff;
}

.container {
    background-color:  #000;
    text-align: center;
}

#data {
    color: #fff;
}

button {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f4f4f4;
}

/* #test {
    display: none;
    color: #fff;
} */

p {
    color: #fff;
}

